<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<!--  Filters  -->

  <filter>
    <filter-name>Charset Filter</filter-name>
    <filter-class>filters.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Charset Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filters.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

<!--  JSP   -->

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <servlet>
    <servlet-name>loginJsp</servlet-name>
    <jsp-file>/view/login.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>user_books</servlet-name>
    <jsp-file>/view/user/user_books.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>user_library</servlet-name>
    <jsp-file>/view/user/user_library.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>reader</servlet-name>
    <jsp-file>/view/user/reader.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>myAdmin</servlet-name>
    <jsp-file>/view/admin/myAdmin.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>myAdmin</servlet-name>
    <url-pattern>/my_admin</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>addAuthorAdmin</servlet-name>
    <jsp-file>/view/admin/add_author.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>addBookAdmin</servlet-name>
    <jsp-file>/view/admin/add_book.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>changeAuthorAdmin</servlet-name>
    <jsp-file>/view/admin/change_author.jsp</jsp-file>
  </servlet>


  <servlet>
    <servlet-name>errorPage</servlet-name>
    <jsp-file>/WEB-INF/errorPage.jsp</jsp-file>
  </servlet>

<!--  Servlets  -->

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlets.loginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>servlets.logoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserBooksServlet</servlet-name>
    <servlet-class>servlets.user.UserBooksServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserBooksServlet</servlet-name>
    <url-pattern>/my_books</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserLibraryServlet</servlet-name>
    <servlet-class>servlets.user.UserLibraryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserLibraryServlet</servlet-name>
    <url-pattern>/library</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>servlets.user.ReaderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddBookToUserServlet</servlet-name>
    <servlet-class>servlets.user.AddBookToUserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddBookToUserServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PurchaseBookServlet</servlet-name>
    <servlet-class>servlets.user.PurchaseBookServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PurchaseBookServlet</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlets.admin.AdminLoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddAuthorServlet</servlet-name>
    <servlet-class>servlets.admin.AddAuthorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddAuthorServlet</servlet-name>
    <url-pattern>/add_author</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>servlets.admin.AddBookServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/add_book</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeAuthorServlet</servlet-name>
    <servlet-class>servlets.admin.ChangeAuthorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChangeAuthorServlet</servlet-name>
    <url-pattern>/change_author</url-pattern>
  </servlet-mapping>

  <!--  Resources -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>

</web-app>